$base-color: #343460;
$light-color: #4a90e2;

$font-small: 20px;
$font-medium: 24px;
$font-large: 36px;

$content-width: 1280px;
$tablet-size-max: 1024px;
$mobile-size-max: 768px;

$side-gutter: 40px;
