.commentBlock {
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
	width: $content-width;
	box-sizing: border-box;
	margin-left: auto;
	margin-right: auto;
	padding-left: $side-gutter;
	padding-right: $side-gutter;
}

.commentBlock__header {
	text-align: center;
	margin-top: 0;
	margin-bottom: 0;
}