.footer {
    padding: 27px 0;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    width: $content-width;
    box-sizing: border-box;
    padding-left: $side-gutter;
    padding-right: $side-gutter;
    margin-left: auto;
    margin-right: auto;
}

.footer__socials {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__link {
    margin-right: 30px;
}

.footer__logo {
    margin-left: auto;
}