.header {
	margin-top: 27px;
	border-bottom: 1px solid #979797;
}

.header__wrapper {
    max-width: $content-width;
    box-sizing: border-box;
    padding-left: $side-gutter;
    padding-right: $side-gutter;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    display: flex;
	justify-content: space-between;
}

.header__logo {
	width: 270px;
	height: 46px;
  margin-bottom: 27px;
  // background-color: red;
  // color: red;
  background-image: url('../img/119.jpg');
  background-repeat: no-repeat;
  background-position: 0, 0;
}

.header__links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 560px;
}

@media (max-width: $tablet-size-max) {
  .header {
    border-bottom: none;
  }

  .header__logo {
    margin-left: auto;
    margin-right: auto;
  }

  .header__links {
    flex-direction: column;
    width: 100%;
  }
}
