.header {
	margin-top: 27px;
	border-bottom: 1px solid #979797;
}

.header__wrapper {
    width: $content-width;
    box-sizing: border-box;
    padding-left: $side-gutter;
    padding-right: $side-gutter;
    margin-left: auto;
    margin-right: auto;
    display: flex;
	justify-content: space-between;
}

.header__logo {
	width: 270px;
	height: 46px;
	margin-bottom: 27px;
}

.header__links {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 560px;
}