.news {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin-top: 60px;
}

.news__image {
    img {
    border-radius: 8px;
    }
}

.news__header {
    font-size: $font-large;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;

    a {
        color: $base-color;
        text-decoration: none;
        transition: opacity 0.2s ease-in;

        &:hover,
        &:focus {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}

.news__description {
    font-size: $font-small;
    margin-top: 0;
    margin-bottom: 0;
    max-height: 310px;
    overflow: hidden;
    margin-bottom: 10px;
}

.news--main {
    width: 100%;
    flex-direction: row;

    .news__wrapper {
        margin-left: $side-gutter;
    }

    .news__header {
        margin-bottom: 15px;
    }
}

/* Стили для неактивного модального окна */
.modal {
    background: #fff;
    left: 50%;
    margin: -250px 0 0 -40%;
    position: absolute;
    top: -50%;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    -webkit-box-shadow: 0 3px 7px rgba(0,0,0,.25);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


/* Активация модального окна в состоянии :target */
.modal:target {
    top: 50%;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.modal header, .modal footer {
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}
.modal footer {
    border:none;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.modal section, .modal header, .modal footer {
    padding: 15px;
    z-index: 200;
}
.modal h2 {
    margin: 0;
}
.modal .btn {
    float: right;
}